* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.hidden {
    display: none;
}

h1 {
    background-color: rgb(194, 194, 202)
}

.login-container {
    margin: 0 auto;
    width: 30vw;
}